In [2]:
import pandas as pd

df = pd.read_csv("./data/healthcare_dataset.csv")
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [3]:
print(f'\033[94mNumber of rows and columns: {df.shape[0], df. shape[1]}' )
print(f'\033[94mNumber of duplicate data: {df.duplicated().sum()}')
print(f'\033[94mNumber missing data: {sum(df.isna().sum())}')

Number of rows and columns: (55500, 15)
Number of duplicate data: 534
Number missing data: 0

In [5]:
df.drop_duplicates(keep='first',inplace=True)
missing_val = df.isnull().sum()[df.isnull().sum()> 0]
print(missing_val)

Series([], dtype: int64)

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,54966.0,51.535185,19.605661,13.00000,35.000000,52.000000,68.000000,89.000000
Billing Amount,54966.0,25544.306284,14208.409711,-2008.49214,13243.718641,25542.749145,37819.858159,52764.276736
Room Number,54966.0,301.124404,115.223143,101.00000,202.000000,302.000000,401.000000,500.000000

In [9]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

def feature_importance(df, target_column):
    # Lấy các thuộc tính số
    numeric_df = df.select_dtypes(include=['int64', 'float64'])
    X = numeric_df.drop(columns=[target_column])
    y = numeric_df[target_column]
    
    # Áp dụng Random Forest để đánh giá
    model = RandomForestRegressor(random_state=42)
    model.fit(X, y)
    
    # Lấy độ quan trọng
    importance = model.feature_importances_
    return pd.DataFrame({
        'Feature': X.columns,
        'Importance': importance
    }).sort_values(by='Importance', ascending=False)

# Example usage
df = pd.read_csv("./data/healthcare_dataset.csv")
feature_importances = feature_importance(df, target_column='Billing Amount')
print(feature_importances)

       Feature  Importance
1  Room Number    0.563425
0          Age    0.436575

In [10]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB
None
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64